<div class="page_container" style="user-select: none;">
  <div class="page_header">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Qualificaton</h2>
      </div>
    </div>
    <div class="first_row">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2>Skill description</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Convert photoshop to html</h5>
            <p class="card-text">Deatils of conversion photoshop to html.</p>
            <a (click)="redirectToShedule()" class="btn btn-primary">Apply</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Format a html table Deatils</h5>
            <p class="card-text">Deatils of format a html table deatils</p>
            <a (click)="redirectToShedule()" class="btn btn-primary">Apply</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Create a shopify store deatils</h5>
            <p class="card-text">Deatils of shopify store deatils</p>
            <a (click)="redirectToShedule()" class="btn btn-primary">Apply</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Imporove the speed of WP store</h5>
            <p class="card-text">
              Deatils of imporove the speed of WP store deatils
            </p>
            <a (click)="redirectToShedule()" class="btn btn-primary">Apply</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Convert photoshop to html</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a (click)="redirectToShedule()" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
