/*Add Content Bounty Popup*/
.add_content_popup {
  width: 100%;
  max-width: 700px;
  height: auto;
  position: absolute;
  background: #ffffff;
  z-index: 9;
  margin: 66px auto auto auto;
  padding: 15px;
  border-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(143, 143, 143, 0.5);
  -moz-box-shadow: 0px 1px 6px 0px rgba(143, 143, 143, 0.5);
  box-shadow: 0px 1px 6px 0px rgba(143, 143, 143, 0.5);
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
}

.add_content_desc {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin-top: 15px;
}

.add_content_desc label {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.add_content_desc input {
  width: 100%;
  float: left;
  position: relative;
  border: 1px solid #e2e2e3;
  border-radius: 4px;
  padding: 0px 10px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
}

.add_content_desc select {
  width: 100%;
  float: left;
  position: relative;
  border: 1px solid #e2e2e3;
  border-radius: 4px;
  padding: 0px 10px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
}

.add_content_desc .calender_input {
  width: 80%;
}

.add_content_desc .calender_icon {
  float: right;
  margin-top: -5px;
}

.add_content_popup_check {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 15px;
}

.cb_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3a3a3a;
}

.cb_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #95c8da;
  border-radius: 4px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cb_container input:checked ~ .checkmark:after {
  display: block;
}

.cb_container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add_content_popup_submit {
  width: 100%;
  float: left;
  position: relative;
  text-align: right;
  padding: 15px;
  padding-bottom: 0;
}

.add_content_popup_submit button {
  padding: 5px 15px;
  background: #e0e1e2;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.editorial_proc_check p {
  font-size: 14px;
  float: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 8px;
  font-weight: 400;
  color: #414141;
}

.editorial_proc_check i {
  font-size: 14px;
  float: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 8px;
  font-weight: 400;
  color: #414141;
}

.editorial_proc_check .bounty_prise {
  width: 65px;
  height: 24px;
  font-size: 12px;
  border-radius: 7px;
  border: 1px solid #e2e2e3;
  padding: 0 5px;
}

.close_popup {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 5px 15px;
  background: #f1f1f1;
  cursor: pointer;
}

/*Add Content Bounty Popup End*/
