<!-- <div class="login_area">
  <div class="main_login">
    <div class="login_form">
   <div class="toster" class="show_toster">
        <div class="row ">
          <div class="col-6 col-md-4"></div>
          <div class="col-6 col-md-4 border padding">

            <div class="row ">
              <div class="col-12 col-md-12 logo_img">
                <img src="../../../assets/img/check_circle_outline-24px.png" alt="" style="width:60px"/>
               <h3 style="text-align: center;">{{welcome_message}}</h3> 
              </div>

            </div>
          </div>
          <div class="col-6 col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="displayUniversityFrame" style="width:100%; height:100%;">
<iframe frameBorder="0" width="100%" height="100%" src="https://university.contentbounty.com"></iframe>
</div>

<div *ngIf="displayAuthorityFrame" style="width:100%; height:100%;">
<iframe frameBorder="0" width="100%" height="100%" src="https://documentation.contentbounty.com"></iframe>
</div>