<div style="margin:auto;">
  <div style="width:855px; margin:auto;">
    <flexible-table
      key="management"
      columns="Brand Name,Release For Bounty,Queued Content,Max Budget"
      dragdrop="Brand Name,Max Budget"
      displayDelete="false"
      displayClone="false"
      displayPagination="false"
      buttons="Brand Name"
      buttonNames="TesT905"
    >
    </flexible-table>
  </div>
</div>

<!-- <div *ngIf="displayTableButtonArea" style="margin: auto;" class="popup_fade">
  <div class="popup_content_area" *ngIf="tableButtonSubviews[0]">
    <button class="close_popup" (click)="hidePopup()">X</button>
     <a href="{{response.bountyFolderSharedLink}}">Click here to access the Box assets folder</a>
  </div>
</div>
 -->