
.history{
    background: #fff;
    margin-left: 20px;
    width:35rem ;
    border-radius:1rem;
    max-height: 200px;
    max-height: 200px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
    position: relative;
  z-index: 1;
  overflow-y:auto;
  transition: 0.7s;
}
.list_item:hover{
    transform: scale(1.1);
}

.logo{ 
    background-color: violet;
    width:30px ;
    height:30px;
    border-radius: 100px;
    margin-top:20px;
    margin-right: 10px;
}
.count{
    color:aqua;
}
.history:hover{
    /* background: #18151f;
    color: #fff; */
    transform: scale(1.01);
    z-index: 9;
  }

  .card-body .read_more_btn {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }