.m-b-15{
    margin-bottom: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  .input_class {
    margin: 0;
    padding: 2px !important;
    margin-top: -2px !important;
  }
  
  .row_background_color {
      background-color: #f2f2f2;
      /* padding-top: 22px; */
  }
  
  .recovery-button {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    padding: 5px;
    width: 100%;
  }
  
  .btn-blue {
    color: #ffffff;
    background-color: #0dd6d8;
    border: 0 !important;
  }
  
  .disable {
    color: #3a3a3a;
    cursor: not-allowed;
    background-color: #afafaf;
  }
  
  .m-t-15{
  margin-top: 15px;
  }
  
  .m-b-25{
  margin-bottom: 25px;
  }

  .rounded-top-0 {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }